<nav class="navigation" id="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/design-system/index.html">Design System index</a></li>
        <li><a href="/design-system/typography.html">Typography</a></li>
        <li><a href="/design-system/buttons.html">Buttons</a></li>
        <li><a href="/design-system/forms.html">Forms</a></li>
        <li><a href="/design-system/columns.html">Columns</a></li>
        <li><a href="/design-system/cards.html">Cards</a></li>
        <li><a href="/design-system/parallax.html">Parallax</a></li>
        <li><a href="/design-system/animations.html">Animations</a></li>
    </ul>
</nav>