<header class="header container container-bgr--grey-light">
        <div class="container-inner">
            <div class="header__branding">
                <a href="/" class="branding__link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="branding__logo">
                        <defs><style>.cls-1{fill:#f66;}.cls-2{fill:#fff;}</style></defs>
                        <title>logo-mig</title>
                        <g id="circle"><circle class="cls-1" cx="250" cy="250" r="250"/></g>
                        <g id="MIG-logo">
                        <path id="path-M" class="cls-2" d="M110,95a20,20,0,0,0-20,20V245H240V95Zm94.37,125.56-2.55-44.4c-.75-14.1-1.65-31-1.5-43.65h-.45c-3.45,11.85-7.65,24.45-12.75,38.4L169.27,220h-9.9L143,171.81c-4.8-14.25-8.85-27.3-11.7-39.3H131c-.3,12.6-1.05,29.55-2,44.7l-2.7,43.35H113.92l7-101.1h16.65l17.25,48.9c4.2,12.45,7.65,23.55,10.2,34h.45c2.55-10.2,6.15-21.3,10.65-34l18-48.9h16.65l6.3,101.1Z"/>
                        <path id="path-i" class="cls-2" d="M382,95H253V244H402V115A20,20,0,0,0,382,95ZM331.16,220.36H318v-72.6h13.2Zm-6.9-84.9a7.85,7.85,0,0,1-7.94-8.1,8,8,0,0,1,8.24-8.25c4.95,0,8.1,3.6,8.1,8.25S329.51,135.46,324.26,135.46Z"/>
                        <path id="path-G" class="cls-2" d="M90,256V385a20,20,0,0,0,20,20H240V256ZM204.36,376.86a94.19,94.19,0,0,1-31.05,5.55c-15.3,0-27.9-3.9-37.8-13.35-8.7-8.4-14.09-21.9-14.09-37.65.15-30.15,20.84-52.2,54.74-52.2,11.7,0,20.85,2.55,25.2,4.65l-3.15,10.65c-5.4-2.4-12.15-4.35-22.35-4.35-24.6,0-40.65,15.3-40.65,40.65,0,25.65,15.45,40.8,39,40.8,8.55,0,14.4-1.2,17.4-2.7V338.76H171.06v-10.5h33.3Z"/>
                        <path id="path-_" data-name="path-!" class="cls-2" d="M253,256V405H382a20,20,0,0,0,20-20V256Zm79.46,24.26-2.1,72H320.17l-2.1-72ZM325.26,383c-5.25,0-8.84-4.05-8.84-9.3s3.75-9.3,8.84-9.3c5.4,0,8.85,3.9,8.85,9.3S330.66,383,325.26,383Z"/>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="header__search">
                <a href="#" class="search-icon__link">
                    <div class="search-icon__container">
                        <svg class="search-icon"><use xlink:href="#icon-search"></use></svg>
                        <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                            <symbol id="icon-search" viewBox="0 0 32 32">
                            <title>search</title>
                            <path d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
                            </symbol>
                            </defs>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="header__navigation">
                <div class="nav-icon__container nav-icon__container--zindex" id="nav-icon__container"> 
                    <div class="nav-icon" id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>                       
            </div>
            <div class="header__content"><span class="branding__baseline">Generic Design System</span></div>
        </div>
    </header>